<h2><a id="available_fields"><%= l('es.available_fields') %></a></h2>
<ul>
  <li><a href="#issue"><%= l(:label_issue_plural) %></a></li>
  <li><a href="#project"><%= l(:label_project_plural) %></a></li>
  <li><a href="#news"><%= l(:label_news) %></a></li>
  <li><a href="#document"><%= l(:label_document_plural) %></a></li>
  <li><a href="#changeset"><%= l(:label_changeset_plural) %></a></li>
  <li><a href="#wiki_page"><%= l(:label_wiki_page_plural) %></a></li>
  <li><a href="#message"><%= l(:label_message_plural) %></a></li>
</ul>
