<h3><a id="issue"><%= l(:label_issue_plural) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">subject(title):</span> <%= l(:field_subject) %></li>
  <li><span class="attribute">description:</span> <%= l(:field_description) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">updated_on:</span> <%= l(:field_updated_on) %></li>
  <li><span class="attribute">closed_on:</span> <%= l(:field_closed_on) %></li>
  <li><span class="attribute">due_date:</span> <%= l(:field_due_date) %></li>
  <li><span class="attribute">assigned_to:</span> <%= l(:field_assigned_to) %></li>
  <li><span class="attribute">category:</span> <%= l(:field_category) %></li>
  <li><span class="attribute">status:</span> <%= l(:field_status) %></li>
  <li><span class="attribute">done_ratio:</span> <%= l(:field_done_ratio) %></li>
  <li><span class="attribute">custom_field_values(cfv):</span> <%= l(:label_custom_field_plural) %></li>
  <li><span class="attribute">private(is_private):</span> <%= l(:field_is_private) %></li>
  <li><span class="attribute">closed(is_closed):</span> <%= l(:field_is_closed) %></li>
  <li><span class="attribute">priority:</span> <%= l(:field_priority) %></li>
  <li><span class="attribute">fixed_version(version):</span> <%= l(:field_fixed_version) %></li>
  <li><span class="attribute">journals.notes(notes):</span> <%= l(:field_notes) %></li>
</ul>

<h3><a id="project"><%= l(:label_project_plural) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">name(title):</span> <%= l(:field_name) %></li>
  <li><span class="attribute">description:</span> <%= l(:field_description) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">homepage:</span> <%= l(:field_homepage) %></li>
  <li><span class="attribute">identifier:</span> <%= l(:field_identifier) %></li>
  <li><span class="attribute">updated_on:</span> <%= l(:field_updated_on) %></li>
  <li><span class="attribute">custom_field_values(cfv):</span> <%= l(:label_custom_field_plural) %></li>
  <li><span class="attribute">public(is_public):</span> <%= l(:field_is_public) %></li>
</ul>

<h3><a id="news"><%= l(:label_news) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">title:</span> <%= l(:field_title) %></li>
  <li><span class="attribute">description:</span> <%= l(:field_description) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">summary:</span> <%= l(:field_summary) %></li>
  <li><span class="attribute">comments_count:</span> <%= l(:label_comment_plural) %></li>
</ul>

<h3><a id="document"><%= l(:label_document_plural) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">title:</span> <%= l(:field_title) %></li>
  <li><span class="attribute">description:</span> <%= l(:field_description) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">category:</span> <%= l(:field_category) %></li>
</ul>

<h3><a id="changeset"><%= l(:label_changeset_plural) %></a></h3>
<ul>
  <li><span class="attribute">committed_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">title:</span> <%= l(:field_title) %></li>
  <li><span class="attribute">comments:</span> <%= l(:field_comments) %></li>
  <li><span class="attribute">committer(author):</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">revision:</span> <%= l(:label_revision) %></li>
</ul>

<h3><a id="wiki_page"><%= l(:label_wiki_page_plural) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">title:</span> <%= l(:field_title) %></li>
  <li><span class="attribute">text(description):</span> <%= l(:field_text) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">updated_on:</span> <%= l(:field_updated_on) %></li>
</ul>

<h3><a id="message"><%= l(:label_message_plural) %></a></h3>
<ul>
  <li><span class="attribute">created_on(datetime):</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">subject(title):</span> <%= l(:field_subject) %></li>
  <li><span class="attribute">content(description):</span> <%= l(:field_content) %></li>
  <li><span class="attribute">author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">url:</span> <%= l(:field_url) %></li>
  <li><span class="attribute">updated_on:</span> <%= l(:field_updated_on) %></li>
  <li><span class="attribute">replies_count:</span> <%= l(:label_reply_plural) %></li>
</ul>

<h3><a id="attachments"><%= l(:label_attachment_plural) %></a></h3>
<ul>
  <li><span class="attribute">attachments.created_on:</span> <%= l(:field_created_on) %></li>
  <li><span class="attribute">attachments.filename:</span> <%= l(:field_field_format) %></li>
  <li><span class="attribute">attachments.description:</span> <%= l(:field_description) %></li>
  <li><span class="attribute">attachments.author:</span> <%= l(:field_author) %></li>
  <li><span class="attribute">attachments.filesize:</span> <%= l(:field_filesize) %></li>
  <li><span class="attribute">attachments.digest:</span> <%= l(:field_digest) %></li>
  <li><span class="attribute">attachments.downloads:</span> <%= l(:label_downloads_abbr) %></li>
  <li><span class="attribute">attachments.file:</span> <%= l(:label_attachment_content) %></li>
</ul>
