<h2><%= l(:label_how_to_search) %></h2>
<ul>
  <li><a href="#word"><%= l('es.word') %></a></li>
  <li><a href="#phrase"><%= l('es.phrase') %></a></li>
  <li><a href="#many_words"><%= l('es.many_words') %></a></li>
  <li><a href="#wildcards"><%= l('es.wildcards') %></a></li>
  <li><a href="#field"><%= l('es.field') %></a></li>
  <li><a href="#regular_expression"><%= l('es.regular_expression') %></a></li>
  <li><a href="#text-attachments"><%= l('es.attachments') %></a></li>
  <li><a href="#fuzziness"><%= l('es.fuzziness') %></a></li>
  <li><a href="#proximity_searches"><%= l('es.proximity_searches') %></a></li>
  <li><a href="#ranges"><%= l('es.ranges') %></a></li>
  <li><a href="#boosting"><%= l('es.boosting') %></a></li>
  <li><a href="#boolean_operators"><%= l('es.boolean_operators') %></a></li>
  <li><a href="#grouping"><%= l('es.grouping') %></a></li>
  <li><a href="#reserved_characters"><%= l('es.reserved_characters') %></a></li>
  <li><a href="#empty_query"><%= l('es.empty_query') %></a></li>
</ul>

<ul>
  <li><a href="#available_fields"><%= l('es.available_fields') %></a></li>
</ul>
