<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>Search Quick Reference</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <style type="text/css">
    body {
      font: 80% Verdana, Tahoma, Arial, sans-serif;
    }

    h1, h2, h3, h4 {
      font-family: Trebuchet MS, Georgia, "Times New Roman", serif;
    }

    pre, code {
      font-size: 120%;
    }

    pre code {
      font-size: 100%;
    }

    pre {
      margin: 1em 1em 1em 1.6em;
      padding: 2px;
      background-color: #fafafa;
      border: 1px solid #dadada;
      width: 95%;
      overflow-x: auto;
    }

    span.attribute {
      font-weight: bold;
    }

    p.search-phrase {
      margin: 1em 1em 1em 1.6em;
      padding: 2px;
      background-color: #fafafa;
      border: 1px solid #dadada;
    }
  </style>
</head>

<body>

<h1><%= l(:label_search_quick_reference) %></h1>

<%= render 'quick_reference_toc' %>
<%= render 'quick_reference' %>

<%= render 'available_fields_toc' %>
<%= render 'available_fields' %>

</body>
</html>
